* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background: linear-gradient(100deg, transparent 50%, orange 50%);
}
.nav {
  display: flex;
  align-items: center;
  padding: 30px 50px 0 50px;
}
.nav h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Lobster" sans-serif;
}
.nav h2 span {
  color: orange;
}

.nav ul {
  margin-left: auto;
}
.nav ul li {
  list-style: none;
  display: inline;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
.nav ul li a:hover {
  color: white;
}

.hero {
  display: flex;
  justify-content: space-around;
}
.hero-header {
  margin-top: 100px;
  font-size: 40px;
}

.hero-left p {
  margin-top: 100px;
  font-size: 20px;
  color: gray;
}
.hero-left button {
  margin-top: 100px;
  padding: 20px;
  border: none;
  border-radius: 20px 20px 0 20px;
  background-color: orange;
}
.hero-left button:hover {
    border-radius: 20px 0 20px 20px;
    color: white;
}

.img {
    margin-right: 170px;
}
